$white: #ffffff;
$black: #000000;

%img {
    width: 100%;
    height: auto;
    display: block;
}

// common
.no-padding {
    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
}

// ------------- header --------------
.vct-nav {
    padding: 10px 15px;
    background-color: $white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;

    .logo-group {
        display: flex;

        .logo {
            @extend %img;
            max-height: 50px;
            width: auto;
            padding: 0 15px;

            &.logo-right {
                margin-top: 12px;
            }
        }
    }

    .vct-navbar {
        padding-right: 15px;

        .navbar-nav {
            .nav-item {
                padding: 0 15px;

                .nav-link {
                    font-size: 18px;
                    line-height: 18px;
                    letter-spacing: 0.05em;
                    text-transform: uppercase;
                    color: $black;
                    font-family: 'SVN-Gotham';
                    font-style: normal;
                    font-weight: 300;

                    &.vct-pillNav {
                        border: 1px solid $black;
                        border-radius: 15px;
                        padding: 6px 17px;
                    }
                }

                &.active {
                    .nav-link {
                        font-weight: bold;
                    }
                }

            }
        }
    }
}

// -------------- Footer ---------------
.vct-footer {
    background-color: $black;
}