$white: #ffffff;
$black: #000000;
$gray: #EAEAEA;

%img {
    width: 100%;
    height: auto;
    display: block;
}

// common
.no-padding {
    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
}

// ------------- header --------------
.vct-nav {
    padding: 10px 15px;
    background-color: $white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);

    .logo-group {
        display: flex;

        .logo {
            @extend %img;
            max-height: 50px;
            width: auto;
            padding: 0 15px;

            &.logo-right {
                margin-top: 12px;
            }
        }
    }

    .vct-navbar {
        padding-right: 15px;

        .navbar-nav {
            .nav-item {
                padding: 0 15px;

                .nav-link {
                    font-size: 18px;
                    line-height: 18px;
                    letter-spacing: 0.05em;
                    text-transform: uppercase;
                    color: $black;
                    font-family: 'SVN-Gotham';
                    font-style: normal;
                    font-weight: 300;

                    &.vct-pillNav {
                        border: 1px solid $black;
                        border-radius: 15px;
                        padding: 6px 17px;
                    }
                }

                &.active {
                    .nav-link {
                        font-weight: bold;
                    }
                }

            }
        }
    }
}

// -------------- Footer ---------------
.vct-footer {
    background-color: $black;
    padding: 100px 0 70px;

    .vct-footer-group {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .footer-content-left {
            flex: 0 0 40%;

            .footer-name {
                font-family: 'Raleway';
                font-style: normal;
                font-weight: bold;
                font-size: 30px;
                line-height: 35px;
                letter-spacing: 0.05em;
                text-transform: uppercase;
                color: $white;
                margin-bottom: 20px;
            }

            .footer-mail {
                font-family: 'Raleway';
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 21px;
                letter-spacing: 0.05em;
                color: $white;
                margin-bottom: 20px;
                display: inline-block;
            }

            .footer-location {
                font-family: 'Raleway';
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 21px;
                letter-spacing: 0.05em;
                color: $white;
                margin-bottom: 0;
            }
        }

        .footer-content-right {
            flex: 0 0 25%;

            .footer-logo {
                max-width: 200px;
                margin: 0 auto;
                @extend %img;
            }
        }
    }
}

// --------------- Block ----------------
.vct-block {
    position: relative;
    width: 100%;

    .block-content-title {
        position: relative;

        h4 {
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 900;
            font-size: 40px;
            line-height: 56px;
            text-align: center;
            letter-spacing: 0.05em;
        }
    }

    .content-group {
        display: flex;
        width: 100%;
    }

    &.block-gray {
        background-color: $gray;
    }

    &.block-white {
        background-color: $white;
    }
}


// Responsive

// Large devices (desktops, less than 1300px)
@media (max-width: 1300px) {
    .vct-nav {
        .vct-navbar {
            .nav-item {
                .nav-link {
                    font-size: 16px !important;
                    line-height: 16px !important;
                }
            }
        }
    }
    .vct-block {
        .block-content-title {
            position: relative;

            h4 {
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 900;
                font-size: 35px;
                line-height: 45px;
                text-align: center;
                letter-spacing: 0.05em;
            }
        }
    }
}