@font-face {
  font-family: 'SVN-Gotham';
  src: url("./fonts/SVN-GothamBold.otf");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'SVN-Gotham';
  src: url("./fonts/SVN-GothamLight.otf");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Raleway';
  src: url("./fonts/Raleway-Black.ttf");
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: 'Raleway';
  src: url("./fonts/Raleway-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url("./fonts/Raleway-Bold.ttf");
  font-style: normal;
  font-weight: bold;
}

.vct-nav .logo-group .logo, .vct-footer .vct-footer-group .footer-content-right .footer-logo, .vct-banner-wrapper .banner-img, .vct-block-1 .block-content-body .content-group-item .group-item-img img, .vct-block-2 .vct-block2-bot .vct-slider .slider-group .slider-group-item.slider-group-left img, .vct-block-3 .block-content-body .content-img-big img, .vct-block-4 .block-content-body .content-img-big img, .vct-block-5 .block-content-body .flex-group .flex-item .flex-item-img img, #content .vct-content-block-1 .block-content-body .brand-group img, #content .vct-content-block-3 .vct-gallery-body .gallery-group img {
  width: 100%;
  height: auto;
  display: block;
}

.no-padding {
  padding-right: 0;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.pc-item {
  display: block !important;
}

.mb-item {
  display: none !important;
}

.vct-nav {
  padding: 10px 15px;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.vct-nav .logo-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.vct-nav .logo-group .logo {
  max-height: 50px;
  width: auto;
  padding: 0 15px;
}

.vct-nav .logo-group .logo.logo-right {
  margin-top: 12px;
}

.vct-nav .logo-group .logo.logo-pc {
  display: block;
}

.vct-nav .logo-group .logo.logo-mb {
  display: none;
}

.vct-nav .vct-navbar {
  padding-right: 15px;
}

.vct-nav .vct-navbar .navbar-nav .nav-item {
  padding: 0 15px;
}

.vct-nav .vct-navbar .navbar-nav .nav-item .nav-link {
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
  font-family: 'SVN-Gotham';
  font-style: normal;
  font-weight: 300;
}

.vct-nav .vct-navbar .navbar-nav .nav-item .nav-link.vct-pillNav {
  border: 1px solid #000000;
  border-radius: 15px;
  padding: 6px 17px;
}

.vct-nav .vct-navbar .navbar-nav .nav-item.active .nav-link {
  font-weight: bold;
}

.vct-nav .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.vct-footer {
  background-color: #000000;
  padding: 100px 0 70px;
}

.vct-footer .vct-footer-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vct-footer .vct-footer-group .footer-content-left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}

.vct-footer .vct-footer-group .footer-content-left .footer-name {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.vct-footer .vct-footer-group .footer-content-left .footer-mail {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin-bottom: 20px;
  display: inline-block;
}

.vct-footer .vct-footer-group .footer-content-left .footer-location {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin-bottom: 0;
}

.vct-footer .vct-footer-group .footer-content-right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

.vct-footer .vct-footer-group .footer-content-right .footer-logo {
  max-width: 200px;
  margin: 0 auto;
}

.vct-block {
  position: relative;
  width: 100%;
}

.vct-block .block-content-title {
  position: relative;
}

.vct-block .block-content-title h4 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 56px;
  text-align: center;
  letter-spacing: 0.05em;
}

.vct-block .content-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.vct-block.block-gray {
  background-color: #EAEAEA;
}

.vct-block.block-white {
  background-color: #ffffff;
}

@media (max-width: 1300px) {
  .vct-nav .vct-navbar .nav-item .nav-link {
    font-size: 16px !important;
    line-height: 16px !important;
  }
  .vct-block .block-content-title {
    position: relative;
  }
  .vct-block .block-content-title h4 {
    font-size: 35px;
    line-height: 45px;
  }
}

@media (max-width: 991.98px) {
  .vct-block .block-content-title {
    position: relative;
  }
  .vct-block .block-content-title h4 {
    font-size: 28px;
    line-height: 38px;
  }
}

@media (max-width: 767.98px) {
  .pc-item {
    display: none !important;
  }
  .mb-item {
    display: block !important;
  }
  .vct-nav {
    background-color: #000000;
  }
  .vct-nav .logo-group {
    width: 70%;
  }
  .vct-nav .logo-group .logo {
    max-height: 30px;
    padding: 0 5px;
  }
  .vct-nav .logo-group .logo.logo-right {
    margin-top: 6px;
  }
  .vct-nav .logo-group .logo.logo-pc {
    display: none;
  }
  .vct-nav .logo-group .logo.logo-mb {
    display: block;
  }
  .vct-nav .vct-navbar .navbar-nav {
    padding-top: 20px;
  }
  .vct-nav .vct-navbar .navbar-nav .nav-item {
    margin-bottom: 10px;
  }
  .vct-nav .vct-navbar .navbar-nav .nav-item .nav-link {
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
  }
  .vct-nav .vct-navbar .navbar-nav .nav-item .nav-link.vct-pillNav {
    display: inline-block;
    border: 1px solid #fff;
  }
  .vct-nav .navbar-toggler {
    padding: 0;
  }
  .vct-nav .navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  .vct-nav .navbar-toggler:focus {
    border: none;
    outline: none;
  }
  .vct-block .block-content-title h4 {
    font-size: 24px;
    line-height: 28px;
  }
  .vct-footer {
    padding: 50px 0 70px;
  }
  .vct-footer .vct-footer-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .vct-footer .vct-footer-group .footer-content-left {
    text-align: center;
    margin-bottom: 30px;
  }
}

.vct-nav .logo-group .logo, .vct-footer .vct-footer-group .footer-content-right .footer-logo, .vct-banner-wrapper .banner-img, .vct-block-1 .block-content-body .content-group-item .group-item-img img, .vct-block-2 .vct-block2-bot .vct-slider .slider-group .slider-group-item.slider-group-left img, .vct-block-3 .block-content-body .content-img-big img, .vct-block-4 .block-content-body .content-img-big img, .vct-block-5 .block-content-body .flex-group .flex-item .flex-item-img img, #content .vct-content-block-1 .block-content-body .brand-group img, #content .vct-content-block-3 .vct-gallery-body .gallery-group img {
  width: 100%;
  height: auto;
  display: block;
}

.vct-banner-wrapper::after, .vct-block-1::before, .vct-block-1::after, .vct-block-2 .vct-block2-bot:before, .vct-block-2 .vct-block2-bot::after, .vct-block-5 .block-content-body .flex-group.gr-b2::before, .vct-block-5 .block-content-body .flex-group.gr-b2::after, .vct-block-5::before, .vct-block-5::after, #content .vct-content-block-1::before, #content .vct-content-block-1::after {
  content: '';
  position: absolute;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.vct-master-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.vct-banner-wrapper {
  position: relative;
}

.vct-banner-wrapper .overlay-banner {
  position: absolute;
  top: 50%;
  left: 10%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  max-width: 60%;
  z-index: 2;
}

.vct-banner-wrapper .overlay-banner h1 {
  font-family: 'Raleway';
  font-weight: 900;
  font-size: 130px;
  line-height: 153px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
}

.vct-banner-wrapper .overlay-banner h1 span {
  color: #EBFF6D;
}

.vct-banner-wrapper .overlay-banner p {
  font-family: 'Raleway';
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.vct-banner-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: black;
  background: -webkit-gradient(linear, left top, right top, from(black), color-stop(20%, rgba(0, 0, 0, 0.938813)), color-stop(40%, rgba(0, 0, 0, 0.599877)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(90deg, black 0%, rgba(0, 0, 0, 0.938813) 20%, rgba(0, 0, 0, 0.599877) 40%, rgba(0, 0, 0, 0) 100%);
}

.vct-banner-wrapper::after {
  top: 50%;
  right: 0;
  width: 15%;
  height: 40%;
  background-image: url("../image/deco-group1.png");
}

.vct-block-1 {
  padding: 95px 0 75px 0;
}

.vct-block-1 .block-content-title {
  margin-bottom: 70px;
}

.vct-block-1 .block-content-body .content-group-item {
  margin: 0 1%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 23%;
          flex: 0 0 23%;
  overflow: hidden;
  background-color: #ffffff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}

.vct-block-1 .block-content-body .content-group-item::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 8px;
  width: 100%;
  z-index: 1;
  background-color: #02ACED;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.vct-block-1 .block-content-body .content-group-item .group-item-body {
  padding: 40px 20px 20px;
}

.vct-block-1 .block-content-body .content-group-item .group-item-body h5 {
  font-family: 'SVN-Gotham';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 30px;
}

.vct-block-1 .block-content-body .content-group-item .group-item-body p {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 21px;
  text-align: justify;
  letter-spacing: 0.05em;
  pointer-events: none;
}

.vct-block-1 .block-content-body .content-group-item:last-child .group-item-body {
  padding: 20px 20px 20px;
}

.vct-block-1 .block-content-body .content-group-item:last-child .group-item-body h5 {
  margin-bottom: 25px;
}

.vct-block-1 .block-content-body .content-group-item:hover {
  -webkit-box-shadow: 30px 20px 50px rgba(0, 0, 0, 0.2);
          box-shadow: 30px 20px 50px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.vct-block-1 .block-content-body .content-group-item:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.vct-block-1::before {
  top: 10%;
  left: 0;
  width: 17%;
  height: 50%;
  z-index: 2;
  background-image: url("../image/deco-group3.png");
}

.vct-block-1::after {
  top: 65%;
  right: 0;
  width: 13%;
  height: 55%;
  z-index: 2;
  background-image: url("../image/deco-group2.png");
}

.vct-block-2 {
  padding: 77px 0 100px 0;
}

.vct-block-2 .vct-block2-top {
  margin-bottom: 70px;
}

.vct-block-2 .vct-block2-top .block-content-title {
  margin-bottom: 70px;
}

.vct-block-2 .vct-block2-top .block-content-body .content-group-item {
  margin: 0 2%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 29.3%;
          flex: 0 0 29.3%;
}

.vct-block-2 .vct-block2-top .block-content-body .content-group-item .group-item-img {
  margin-bottom: 25px;
}

.vct-block-2 .vct-block2-top .block-content-body .content-group-item .group-item-body h5 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.05em;
  margin-bottom: 25px;
  color: #000000;
}

.vct-block-2 .vct-block2-top .block-content-body .content-group-item .group-item-body p {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: #000000;
  margin-bottom: 20px;
}

.vct-block-2 .vct-block2-bot {
  position: relative;
}

.vct-block-2 .vct-block2-bot .vct-slider .swiper-slide {
  padding: 0 10px;
}

.vct-block-2 .vct-block2-bot .vct-slider .slider-group {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vct-block-2 .vct-block2-bot .vct-slider .slider-group .slider-group-item.slider-group-left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35%;
          flex: 0 0 35%;
  margin-right: 2%;
}

.vct-block-2 .vct-block2-bot .vct-slider .slider-group .slider-group-item.slider-group-right {
  margin-left: 2%;
}

.vct-block-2 .vct-block2-bot .vct-slider .slider-group .slider-group-item.slider-group-right .slider-group-content h5 {
  font-family: 'SVN-Gotham';
  font-style: normal;
  font-weight: bold;
  font-size: 65px;
  line-height: 70px;
  letter-spacing: 0.05em;
  color: #000000;
  margin-bottom: 70px;
}

.vct-block-2 .vct-block2-bot .vct-slider .slider-group .slider-group-item.slider-group-right .slider-group-content p {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: #000000;
  margin-bottom: 50px;
}

.vct-block-2 .vct-block2-bot .vct-slider .slider-group .slider-group-item.slider-group-right .slider-group-content .number-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 95%;
}

.vct-block-2 .vct-block2-bot .vct-slider .slider-group .slider-group-item.slider-group-right .slider-group-content .number-group .number-group-item .num {
  display: inline-block;
  position: relative;
  margin-bottom: 20px;
}

.vct-block-2 .vct-block2-bot .vct-slider .slider-group .slider-group-item.slider-group-right .slider-group-content .number-group .number-group-item .num .num-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 0;
  text-transform: uppercase;
  color: #5DCAF3;
  margin-bottom: 0;
}

.vct-block-2 .vct-block2-bot .vct-slider .slider-group .slider-group-item.slider-group-right .slider-group-content .number-group .number-group-item p {
  font-family: 'SVN-Gotham';
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.vct-block-2 .vct-block2-bot .vct-slider .swiper-pagination {
  left: 40%;
  text-align: left;
}

.vct-block-2 .vct-block2-bot .vct-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #C4C4C4;
  opacity: 0.5;
}

.vct-block-2 .vct-block2-bot .vct-slider .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #007aff;
  opacity: 1;
}

.vct-block-2 .vct-block2-bot:before {
  top: 60%;
  left: 0;
  width: 15%;
  height: 50%;
  background-image: url("../image/deco-group5.png");
  z-index: 2;
}

.vct-block-2 .vct-block2-bot::after {
  top: 10%;
  right: 0;
  width: 15%;
  height: 20%;
  background-image: url("../image/deco-group4.png");
}

.vct-block-3 {
  padding: 120px 0 0;
}

.vct-block-3 .block-content-title {
  margin-bottom: 50px;
}

.vct-block-3 .block-content-body .content-img-big {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.vct-block-3 .block-content-body .content-img-big img {
  max-width: 700px;
  margin-left: -10%;
}

.vct-block-3 .block-content-body .content-group {
  width: 80%;
  margin: 0 auto;
}

.vct-block-3 .block-content-body .content-group-item {
  margin: 0 2%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 29.3%;
          flex: 0 0 29.3%;
}

.vct-block-3 .block-content-body .content-group-item .item-box {
  background-color: #ffffff;
  padding: 25px;
  height: 240px;
  position: relative;
  border-radius: 20px;
}

.vct-block-3 .block-content-body .content-group-item .item-box .box-num {
  position: relative;
  display: inline-block;
  margin-bottom: 30px;
}

.vct-block-3 .block-content-body .content-group-item .item-box .box-num .box-bg {
  width: 50px;
  height: 50px;
  background-color: #5DCAF3;
  border-radius: 50%;
}

.vct-block-3 .block-content-body .content-group-item .item-box .box-num span {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 50px;
  position: absolute;
  top: 46%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #ffffff;
}

.vct-block-3 .block-content-body .content-group-item .item-box p {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-align: justify;
  letter-spacing: 0.05em;
}

.vct-block-3 .block-content-body .content-group-item .item-box.custom-box .box-num span {
  top: 40%;
  font-size: 45px;
}

.vct-block-3 .block-content-body .content-group-item:nth-child(2) {
  margin: 80px 2% 0;
  z-index: 2;
}

.vct-block-3 .block-content-body .content-group-item:nth-child(2) .item-box {
  -webkit-box-shadow: 30px 20px 50px rgba(0, 0, 0, 0.25);
          box-shadow: 30px 20px 50px rgba(0, 0, 0, 0.25);
}

.vct-block-4 {
  padding: 170px 0 130px;
  margin-top: -80px;
}

.vct-block-5 {
  padding: 100px 0 100px;
}

.vct-block-5 .block-content-title {
  margin-bottom: 70px;
}

.vct-block-5 .block-content-body .flex-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.vct-block-5 .block-content-body .flex-group .flex-item {
  margin-bottom: 50px;
  position: relative;
}

.vct-block-5 .block-content-body .flex-group .flex-item .div-item-box {
  background-color: #ffffff;
  padding: 80px 40px 40px;
  -webkit-box-shadow: 30px 20px 50px rgba(0, 0, 0, 0.25);
          box-shadow: 30px 20px 50px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.vct-block-5 .block-content-body .flex-group .flex-item .div-item-box .num {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  font-size: 80px;
  line-height: 90px;
  text-transform: uppercase;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
          font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}

.vct-block-5 .block-content-body .flex-group .flex-item .div-item-box .text {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #000000;
}

.vct-block-5 .block-content-body .flex-group.gr-b1 .flex-left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.vct-block-5 .block-content-body .flex-group.gr-b1 .flex-right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  margin-left: -5%;
  z-index: 2;
}

.vct-block-5 .block-content-body .flex-group.gr-b2 .flex-left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  margin-left: 10%;
  z-index: 2;
}

.vct-block-5 .block-content-body .flex-group.gr-b2 .flex-right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  margin-left: -5%;
}

.vct-block-5 .block-content-body .flex-group.gr-b2::before {
  top: 25%;
  left: -8%;
  width: 35%;
  height: 45%;
  background-image: url("../image/deco-group7.png");
}

.vct-block-5 .block-content-body .flex-group.gr-b2::after {
  bottom: -25%;
  left: 50%;
  width: 25%;
  height: 30%;
  background-image: url("../image/deco-group8.png");
  z-index: 2;
}

.vct-block-5::before {
  top: 45%;
  left: 0;
  width: 15%;
  height: 25%;
  background-image: url("../image/deco-group5.png");
}

.vct-block-5::after {
  top: 30%;
  right: 0;
  width: 10%;
  height: 14%;
  background-image: url("../image/deco-group6.png");
}

.vct-block-6 {
  padding: 70px 0 200px;
}

.vct-block-6.block-bg {
  background-image: url("../image/b6-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.vct-block-6.block-bg .block-content-form {
  width: 60%;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 70px 50px;
  -webkit-box-shadow: 30px 20px 50px rgba(0, 0, 0, 0.25);
          box-shadow: 30px 20px 50px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.vct-block-6.block-bg .block-content-form .form-title h4 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 40px;
}

.vct-block-6.block-bg .block-content-form .form-body form {
  text-align: center;
}

.vct-block-6.block-bg .block-content-form .form-body form .form-group {
  position: relative;
  margin-bottom: 40px;
}

.vct-block-6.block-bg .block-content-form .form-body form .form-group label {
  position: absolute;
  top: -10px;
  left: 10px;
  background-color: #ffffff;
  padding: 0 5px;
  margin-bottom: 0;
  pointer-events: none;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: #000000;
}

.vct-block-6.block-bg .block-content-form .form-body form .form-group input {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: #000000;
  padding: 15px 10px 10px 10px;
}

.vct-block-6.block-bg .block-content-form .form-body form .form-group input:focus {
  outline: none;
  border: 1px solid #ced4da;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.vct-block-6.block-bg .block-content-form .form-body form .form-group select {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: #000000;
  padding: 15px 10px 10px 10px;
  height: auto;
}

.vct-block-6.block-bg .block-content-form .form-body form .form-group select:focus {
  outline: none;
  border: 1px solid #ced4da;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.vct-block-6.block-bg .block-content-form .form-body form .form-group textarea {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: #000000;
  padding: 15px 10px 10px 10px;
}

.vct-block-6.block-bg .block-content-form .form-body form .form-group textarea:focus {
  outline: none;
  border: 1px solid #ced4da;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.vct-block-6.block-bg .block-content-form .form-body form .form-cta {
  background: linear-gradient(252.29deg, #EBFF6D 8.3%, #5DCAF3 43.65%), #02ACED;
  display: inline-block;
  padding: 15px 25px;
  border-radius: 25px;
  margin: 0 auto;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: bold;
  color: #000000;
  font-size: 16px;
  border: none;
}

.vct-block-6.block-bg .block-content-form .form-body form .form-cta:hover {
  text-decoration: none;
}

@media (max-width: 1300px) {
  #home .vct-banner-wrapper .overlay-banner h1 {
    font-size: 100px;
    line-height: 120px;
  }
  #home .vct-banner-wrapper .overlay-banner p {
    font-size: 16px;
    line-height: 26px;
  }
}

@media (max-width: 1199.98px) {
  #home .vct-banner-wrapper {
    margin-top: 90px;
  }
  #home .vct-banner-wrapper .overlay-banner h1 {
    font-size: 70px;
    line-height: 80px;
  }
  #home .vct-banner-wrapper .overlay-banner p {
    font-size: 14px;
    line-height: 22px;
  }
  #home .vct-block-1::before {
    height: 25%;
  }
  #home .vct-block-1::after {
    top: 85%;
    right: 0;
    width: 13%;
    height: 25%;
  }
  #home .vct-block-1 .block-content-body .content-group {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #home .vct-block-1 .block-content-body .content-group .content-group-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48%;
            flex: 0 0 48%;
    margin-bottom: 25px;
  }
  #home .vct-block-2 .block-content-body .content-group .content-group-item .group-item-body h5 {
    font-size: 24px;
    line-height: 26px;
  }
  #home .vct-block-2 .block-content-body .content-group .content-group-item .group-item-body p {
    font-size: 14px;
    line-height: 18px;
  }
  #home .vct-block-3 .vct-block-content .block-content-body .content-group {
    width: 100%;
  }
  #home .vct-block-3 .vct-block-content .block-content-body .content-group .content-group-item .item-box {
    height: 220px;
  }
  #home .vct-block-3 .vct-block-content .block-content-body .content-group .content-group-item .item-box p {
    font-size: 16px;
    line-height: 22px;
  }
  #home .vct-block-4 {
    padding: 130px 0 100px;
  }
  #home .vct-block-5 .vct-block-content .block-content-body .flex-group .flex-item .div-item-box {
    padding: 60px 40px 40px;
  }
  #home .vct-block-5 .vct-block-content .block-content-body .flex-group .flex-item .div-item-box .num {
    font-size: 50px;
    line-height: 60px;
  }
  #home .vct-block-5 .vct-block-content .block-content-body .flex-group .flex-item .div-item-box .text {
    font-size: 20px;
    line-height: 28px;
  }
  #home .vct-block-5 .vct-block-content .block-content-body .flex-group.gr-b2 .flex-left {
    margin-left: 5%;
  }
  #home .vct-block-6 .block-content-form {
    width: 100%;
  }
}

@media (max-width: 767.98px) {
  #home .vct-banner-wrapper {
    margin-top: 0;
  }
  #home .vct-banner-wrapper::before, #home .vct-banner-wrapper::after {
    display: none;
  }
  #home .vct-banner-wrapper .overlay-banner {
    top: 0;
    left: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    max-width: 100%;
    width: 100vw;
    height: 100%;
  }
  #home .vct-banner-wrapper .overlay-banner h1 {
    position: absolute;
    top: 15%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    padding: 0 15px;
    font-size: 15vw;
    line-height: 15vw;
    text-align: center;
  }
  #home .vct-banner-wrapper .overlay-banner p {
    position: absolute;
    bottom: 10px;
    padding: 0 20px;
    left: 0;
    width: 100%;
    text-align: justify;
  }
  #home .vct-block-1 {
    padding: 50px 0;
  }
  #home .vct-block-1::before, #home .vct-block-1::after {
    display: none;
  }
  #home .vct-block-1 .container {
    padding: 0;
  }
  #home .vct-block-1 .container .vct-block-content .block-content-title {
    margin-bottom: 40px;
  }
  #home .vct-block-1 .container .vct-block-content .block-content-body .content-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #home .vct-block-1 .container .vct-block-content .block-content-body .content-group .content-group-item {
    margin: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: transparent;
  }
  #home .vct-block-1 .container .vct-block-content .block-content-body .content-group .content-group-item .group-item-img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  #home .vct-block-1 .container .vct-block-content .block-content-body .content-group .content-group-item .group-item-body {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    padding: 20px;
  }
  #home .vct-block-1 .container .vct-block-content .block-content-body .content-group .content-group-item .group-item-body h5 {
    font-size: 18px;
    line-height: 21px;
  }
  #home .vct-block-1 .container .vct-block-content .block-content-body .content-group .content-group-item .group-item-body p {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 0;
  }
  #home .vct-block-1 .container .vct-block-content .block-content-body .content-group .content-group-item:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  #home .vct-block-2 {
    padding: 55px 0;
  }
  #home .vct-block-2 .vct-block2-top .vct-block-content .block-content-title {
    margin-bottom: 40px;
  }
  #home .vct-block-2 .vct-block2-top .vct-block-content .block-content-body .content-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #home .vct-block-2 .vct-block2-top .vct-block-content .block-content-body .content-group .content-group-item {
    text-align: center;
    border: 1px solid #5DCAF3;
    border-radius: 10px;
    margin: 0 0 20px;
    padding: 20px;
  }
  #home .vct-block-2 .vct-block2-top .vct-block-content .block-content-body .content-group .content-group-item .group-item-body h5 {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 15px;
  }
  #home .vct-block-2 .vct-block2-top .vct-block-content .block-content-body .content-group .content-group-item .group-item-body p {
    font-size: 14px;
    line-height: 16px;
  }
  #home .vct-block-2 .vct-block2-bot::before, #home .vct-block-2 .vct-block2-bot::after {
    display: none;
  }
  #home .vct-block-2 .vct-block2-bot .vct-slider .swiper-slide {
    padding: 0;
  }
  #home .vct-block-2 .vct-block2-bot .vct-slider .slider-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #home .vct-block-2 .vct-block2-bot .vct-slider .slider-group .slider-group-item.slider-group-left {
    margin-right: 0;
  }
  #home .vct-block-2 .vct-block2-bot .vct-slider .slider-group .slider-group-item.slider-group-right {
    margin-left: 0;
  }
  #home .vct-block-2 .vct-block2-bot .vct-slider .slider-group .slider-group-item .slider-group-content {
    padding: 0 20px;
  }
  #home .vct-block-2 .vct-block2-bot .vct-slider .slider-group .slider-group-item .slider-group-content h5 {
    font-size: 30px;
    line-height: 35px;
    margin: 30px 0;
  }
  #home .vct-block-2 .vct-block2-bot .vct-slider .slider-group .slider-group-item .slider-group-content p {
    font-size: 15px;
    line-height: 21px;
    margin-bottom: 40px;
  }
  #home .vct-block-2 .vct-block2-bot .vct-slider .slider-group .slider-group-item .slider-group-content .number-group {
    width: 100%;
  }
  #home .vct-block-2 .vct-block2-bot .vct-slider .slider-group .slider-group-item .slider-group-content .number-group .number-group-item .num .num-text {
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 0;
  }
  #home .vct-block-2 .vct-block2-bot .vct-slider .swiper-pagination {
    bottom: 0;
  }
  #home .vct-block-3 {
    padding: 50px 0 30px;
  }
  #home .vct-block-3 .vct-block-content .block-content-body .content-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #home .vct-block-3 .vct-block-content .block-content-body .content-group .content-group-item {
    margin: 0;
  }
  #home .vct-block-3 .vct-block-content .block-content-body .content-group .content-group-item .item-box {
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    padding: 0px 15px;
    margin-bottom: 20px;
  }
  #home .vct-block-3 .vct-block-content .block-content-body .content-group .content-group-item .item-box .box-num {
    margin-bottom: 0;
    margin-right: 10px;
  }
  #home .vct-block-3 .vct-block-content .block-content-body .content-group .content-group-item .item-box p {
    margin-bottom: 0;
    margin-left: 10px;
  }
  #home .vct-block-3 .vct-block-content .block-content-body .content-group .content-group-item:nth-child(2) .item-box {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  #home .vct-block-4 {
    margin-top: 0;
    padding: 50px 0;
  }
  #home .vct-block-4 .block-content-body .brand-icon-group .vct-icon-group .swiper-slide img {
    width: auto;
    height: 60px;
    display: block;
  }
  #home .vct-block-5 {
    padding: 50px 0;
  }
  #home .vct-block-5.block-gray {
    background-color: #ffffff;
  }
  #home .vct-block-5::before, #home .vct-block-5::after {
    display: none;
  }
  #home .vct-block-5 .vct-block-content .block-content-title {
    margin-bottom: 40px;
  }
  #home .vct-block-5 .vct-block-content .block-content-body .flex-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 40px;
  }
  #home .vct-block-5 .vct-block-content .block-content-body .flex-group .flex-item {
    margin-bottom: 0;
  }
  #home .vct-block-5 .vct-block-content .block-content-body .flex-group .flex-item .div-item-box {
    text-align: center;
    padding: 40px;
  }
  #home .vct-block-5 .vct-block-content .block-content-body .flex-group .flex-item .div-item-box .num {
    font-size: 36px;
    line-height: 42px;
  }
  #home .vct-block-5 .vct-block-content .block-content-body .flex-group .flex-item .div-item-box .text {
    font-size: 24px;
    line-height: 28px;
  }
  #home .vct-block-5 .vct-block-content .block-content-body .flex-group.gr-b1 .flex-right {
    margin-left: 0;
    width: 80%;
    margin-top: -10%;
  }
  #home .vct-block-5 .vct-block-content .block-content-body .flex-group.gr-b1 .flex-right .div-item-box {
    text-align: center;
    padding: 40px;
  }
  #home .vct-block-5 .vct-block-content .block-content-body .flex-group.gr-b1 .flex-right .div-item-box .num {
    font-size: 36px;
    line-height: 42px;
  }
  #home .vct-block-5 .vct-block-content .block-content-body .flex-group.gr-b1 .flex-right .div-item-box .text {
    font-size: 24px;
    line-height: 28px;
  }
  #home .vct-block-5 .vct-block-content .block-content-body .flex-group.gr-b2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #home .vct-block-5 .vct-block-content .block-content-body .flex-group.gr-b2::before, #home .vct-block-5 .vct-block-content .block-content-body .flex-group.gr-b2::after {
    display: none;
  }
  #home .vct-block-5 .vct-block-content .block-content-body .flex-group.gr-b2 .flex-left {
    margin-left: 0;
    width: 80%;
    margin-top: -10%;
  }
  #home .vct-block-5 .vct-block-content .block-content-body .flex-group.gr-b2 .flex-right {
    margin-left: 0;
  }
  #home .vct-block-6 {
    padding: 70px 0;
  }
  #home .vct-block-6.block-bg {
    background-size: cover;
    background-position: center;
  }
  #home .vct-block-6 .block-content-form {
    padding: 40px 25px;
  }
  #home .vct-block-6 .block-content-form .form-title h4 {
    font-size: 18px;
    line-height: 21px;
  }
  #home .vct-block-6 .block-content-form .form-body form .form-group label,
  #home .vct-block-6 .block-content-form .form-body form .form-group input {
    font-size: 14px;
    line-height: 16px;
  }
}

.vct-nav .logo-group .logo, .vct-footer .vct-footer-group .footer-content-right .footer-logo, .vct-banner-wrapper .banner-img, .vct-block-1 .block-content-body .content-group-item .group-item-img img, .vct-block-2 .vct-block2-bot .vct-slider .slider-group .slider-group-item.slider-group-left img, .vct-block-3 .block-content-body .content-img-big img, .vct-block-4 .block-content-body .content-img-big img, .vct-block-5 .block-content-body .flex-group .flex-item .flex-item-img img, #content .vct-content-block-1 .block-content-body .brand-group img, #content .vct-content-block-3 .vct-gallery-body .gallery-group img {
  width: 100%;
  height: auto;
  display: block;
}

.vct-banner-wrapper::after, .vct-block-1::before, .vct-block-1::after, .vct-block-2 .vct-block2-bot:before, .vct-block-2 .vct-block2-bot::after, .vct-block-5 .block-content-body .flex-group.gr-b2::before, .vct-block-5 .block-content-body .flex-group.gr-b2::after, .vct-block-5::before, .vct-block-5::after, #content .vct-content-block-1::before, #content .vct-content-block-1::after {
  content: '';
  position: absolute;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#content .vct-banner-wrapper {
  padding: 150px 0;
  background-color: #ffffff;
}

#content .vct-banner-wrapper::before {
  display: none;
}

#content .vct-banner-wrapper::after {
  display: none;
}

#content .vct-banner-wrapper .overlay-banner h1 {
  color: #0357A4;
  font-size: 72px;
  line-height: 85px;
  letter-spacing: 0.05em;
  margin-bottom: 50px;
}

#content .vct-banner-wrapper .overlay-banner h1 span {
  color: #F6C815;
}

#content .vct-banner-wrapper .overlay-banner .banner-light {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.05em;
  color: #000000;
  margin-bottom: 50px;
}

#content .vct-banner-wrapper .overlay-banner .banner-light span {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 85px;
  letter-spacing: 0.05em;
  color: #F6C815;
}

#content .vct-banner-wrapper .overlay-banner .banner-list {
  list-style: none;
  padding: 0;
}

#content .vct-banner-wrapper .overlay-banner .banner-list .banner-item-light {
  margin-bottom: 20px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.05em;
  color: #000000;
}

#content .vct-banner-wrapper .overlay-banner .banner-list .banner-item-bold {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  font-size: 34px;
  line-height: 42px;
  letter-spacing: 0.05em;
  color: #000000;
}

#content .vct-banner-wrapper .banner-cta {
  position: absolute;
  bottom: 70px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
}

#content .vct-banner-wrapper .banner-cta a {
  padding: 15px 40px;
  display: inline-block;
  border-radius: 50px;
  background: linear-gradient(242.08deg, #EBFF6D 19.5%, #5DCAF3 52.12%), #02ACED;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 47px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #ffffff;
}

#content .vct-banner-wrapper .banner-cta a:hover {
  text-decoration: none;
}

#content .vct-content-block-1 {
  padding: 100px 0;
}

#content .vct-content-block-1 .block-content-title {
  margin-bottom: 70px;
}

#content .vct-content-block-1 .block-content-body .brand-group p {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #000000;
  margin-bottom: 70px;
}

#content .vct-content-block-1 .block-content-body .brand-group p span {
  font-style: normal;
  font-weight: 900;
}

#content .vct-content-block-1 .block-content-body .brand-group img {
  margin-bottom: 70px;
}

#content .vct-content-block-1 .block-content-body .brand-group img:last-child {
  margin-bottom: 0;
}

#content .vct-content-block-1::before {
  top: 5%;
  left: 0;
  width: 12%;
  height: 40%;
  background-image: url("../image/deco-group9.png");
}

#content .vct-content-block-1::after {
  top: 5%;
  right: 0;
  width: 10%;
  height: 35%;
  background-image: url("../image/deco-group10.png");
}

#content .vct-content-block-2 {
  padding: 100px 0 70px;
}

#content .vct-content-block-2 .block-content-title {
  margin-bottom: 70px;
}

#content .vct-content-block-2 .block-content-body .content-group {
  margin-bottom: 100px;
}

#content .vct-content-block-2 .block-content-body .content-group-item {
  margin: 0 2%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 29.3%;
          flex: 0 0 29.3%;
}

#content .vct-content-block-2 .block-content-body .content-group-item .item-box {
  background-color: #ffffff;
  padding: 25px;
  height: 240px;
  position: relative;
  border-radius: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#content .vct-content-block-2 .block-content-body .content-group-item .item-box .box-num {
  position: relative;
  display: inline-block;
  margin-bottom: 30px;
}

#content .vct-content-block-2 .block-content-body .content-group-item .item-box .box-num .box-bg {
  width: 50px;
  height: 50px;
  background-color: #5DCAF3;
  border-radius: 50%;
}

#content .vct-content-block-2 .block-content-body .content-group-item .item-box .box-num span {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 50px;
  position: absolute;
  top: 46%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #ffffff;
}

#content .vct-content-block-2 .block-content-body .content-group-item .item-box p {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-align: justify;
  letter-spacing: 0.05em;
}

#content .vct-content-block-2 .block-content-body .content-group-item .item-box.custom-box .box-num span {
  top: 40%;
  font-size: 45px;
}

#content .vct-content-block-2 .block-content-body .content-group-item .item-box:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-shadow: 30px 20px 50px rgba(0, 0, 0, 0.25);
          box-shadow: 30px 20px 50px rgba(0, 0, 0, 0.25);
}

#content .vct-content-block-2 .block-content-body .content-bar {
  position: relative;
  width: 100%;
}

#content .vct-content-block-2 .block-content-body .content-bar .bar {
  display: block;
  height: 7.21px;
  width: 100%;
  background: linear-gradient(252.87deg, #EBFF6D 21.63%, #5DCAF3 66.37%), #02ACED;
  border-radius: 90px;
}

#content .vct-content-block-2 .block-content-body .content-bar .dot {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 50%;
  left: 16%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #5DCAF3;
  border-radius: 50%;
}

#content .vct-content-block-2 .block-content-body .content-bar .dot:nth-child(2) {
  left: 50%;
}

#content .vct-content-block-2 .block-content-body .content-bar .dot:last-child {
  left: 83%;
}

#content .vct-content-block-3 .vct-gallery-title {
  padding: 70px 0;
  background: linear-gradient(252.29deg, #EBFF6D 8.3%, #5DCAF3 43.65%), #02ACED;
}

#content .vct-content-block-3 .vct-gallery-title h4 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 56px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
}

#content .vct-content-block-3 .vct-gallery-title h4 span {
  color: #EBFF6D;
}

#content .vct-content-block-3 .vct-gallery-body .gallery-group {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: 25vw 25vw 25vw 25vw;
      grid-template-columns: 25vw 25vw 25vw 25vw;
  -ms-grid-rows: 25vw 25vw;
      grid-template-rows: 25vw 25vw;
  grid-auto-flow: dense;
}

#content .vct-content-block-3 .vct-gallery-body .gallery-group img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#content .vct-content-block-3 .vct-gallery-body .gallery-group .gallery-item-big {
  grid-column: span 2;
  grid-row: span 2;
}

#content .vct-content-block-3 .vct-gallery-body .gallery-group .gallery-item-big.big-right {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / span 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

@media (max-width: 1300px) {
  #content .vct-banner-wrapper .overlay-banner h1 {
    font-size: 65px;
    line-height: 75px;
  }
  #content .vct-banner-wrapper .overlay-banner .banner-light {
    font-size: 32px;
    line-height: 38px;
  }
  #content .vct-banner-wrapper .overlay-banner .banner-light span {
    font-size: 65px;
    line-height: 75px;
  }
  #content .vct-banner-wrapper .overlay-banner .banner-list .banner-item-light {
    font-size: 22px;
    line-height: 25px;
  }
  #content .vct-banner-wrapper .overlay-banner .banner-list .banner-item-bold {
    font-size: 28px;
    line-height: 36px;
  }
}

@media (max-width: 991.98px) {
  #content .vct-banner-wrapper .overlay-banner {
    left: 5%;
  }
  #content .vct-banner-wrapper .overlay-banner h1 {
    font-size: 45px;
    line-height: 55px;
    margin-bottom: 15px;
  }
  #content .vct-banner-wrapper .overlay-banner .banner-light {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 20px;
  }
  #content .vct-banner-wrapper .overlay-banner .banner-light span {
    font-size: 45px;
    line-height: 55px;
  }
  #content .vct-banner-wrapper .overlay-banner .banner-list .banner-item-light {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 10px;
  }
  #content .vct-banner-wrapper .overlay-banner .banner-list .banner-item-bold {
    font-size: 24px;
    line-height: 28px;
  }
  #content .vct-banner-wrapper .banner-cta .banner-link {
    font-size: 18px;
    line-height: 27px;
  }
  #content .vct-content-block-1::before, #content .vct-content-block-1::after {
    display: none;
  }
  #content .vct-content-block-1 .vct-block-content .block-content-title {
    margin-bottom: 50px;
  }
  #content .vct-content-block-1 .vct-block-content .block-content-body .brand-group p {
    font-size: 26px;
    line-height: 29px;
    margin-bottom: 50px;
  }
  #content .vct-content-block-2 .vct-block-content .block-content-title {
    margin-bottom: 50px;
  }
  #content .vct-content-block-2 .vct-block-content .block-content-body .content-group {
    margin-bottom: 70px;
  }
  #content .vct-content-block-2 .vct-block-content .block-content-body .content-group .content-group-item .item-box {
    padding: 10px;
    height: 200px;
  }
  #content .vct-content-block-2 .vct-block-content .block-content-body .content-group .content-group-item .item-box p {
    font-size: 14px;
    line-height: 20px;
  }
}
/*# sourceMappingURL=index.css.map */