@font-face {
  font-family: 'AddingtonCF';
  src: url("./fonts/AddingtonCF-Bold.otf");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'AddingtonCF';
  src: url("./fonts/AddingtonCF-DemiBold.otf");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'AddingtonCF';
  src: url("./fonts/AddingtonCF-DemiBoldItalic.otf");
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: 'AddingtonCF';
  src: url("./fonts/AddingtonCF-RegularItalic.otf");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: 'Averta';
  src: url("./fonts/Averta-Regular.otf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Averta';
  src: url("./fonts/Averta-Semibold.otf");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Romans-Rexamples';
  src: url("./fonts/Romans-Rexamples-Script.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Romans-Rexamples';
  src: url("./fonts/ROMANS-REXAMPLES-SERIF_ITALIC.ttf");
  font-style: italic;
  font-weight: normal;
}

.logo-group .logo, .video-banner img, .banner img {
  width: 100%;
  height: auto;
}

.no-padding {
  padding-right: 0;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.mt-10 {
  margin-top: 10px;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.w-1400 {
  max-width: 1400px;
  margin: auto;
}

.w100 {
  width: 100vw;
}

.hidden {
  display: none;
}

.vct-nav {
  padding: 10px 15px;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.logo-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo-group .logo {
  max-height: 50px;
  width: auto;
  padding: 0 15px;
}

.logo-group .logo.logo-right {
  margin-top: 12px;
}

.logo-group .logo.logo-pc {
  display: block;
}

.logo-group .logo.logo-mb {
  display: none;
}

.vct-navbar {
  padding-right: 15px;
}

.vct-navbar .navbar-nav .nav-item {
  padding: 0 15px;
}

.vct-navbar .navbar-nav .nav-item .nav-link {
  font-size: 28px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #000000;
  font-family: 'AddingtonCF';
  font-style: italic;
  font-weight: normal;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.vct-navbar .navbar-nav .nav-item.active .nav-link {
  color: #d9af64;
}

.vct-navbar .navbar-nav .nav-item:hover .nav-link {
  color: #d9af64;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.footer {
  background-color: #000000;
}

.vct-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 100px 70px 70px;
}

.vct-footer-item .baogia h4 {
  font-family: 'Averta';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.vct-footer-item .baogia a {
  font-family: 'Averta';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1;
  color: #cea35b;
}

.vct-footer-item .baogia a:hover {
  text-decoration: none;
}

.vct-footer-item .diachi p {
  color: #afafaf;
  font-family: 'Averta';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.3;
  position: relative;
}

.vct-footer-item .diachi p::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -25px;
  width: 17px;
  height: 23px;
  background-image: url("../image/common/diachi-icon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

@media (max-width: 1400px) {
  .vct-footer-item .diachi p {
    font-size: 16px;
  }
}

.vct-footer-item .logo img {
  max-width: 100%;
  height: auto;
}

.video-banner {
  position: relative;
  padding-top: 92px;
}

.video-banner .video-btn {
  display: block;
  position: absolute;
  bottom: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%) scale(1);
          transform: translateX(-50%) scale(1);
  width: 8%;
  height: auto;
  z-index: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation-name: poping;
          animation-name: poping;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.banner {
  position: relative;
}

@-webkit-keyframes poping {
  25% {
    -webkit-transform: translateX(-50%) scale(0.9);
            transform: translateX(-50%) scale(0.9);
  }
  75% {
    -webkit-transform: translateX(-50%) scale(1.1);
            transform: translateX(-50%) scale(1.1);
  }
}

@keyframes poping {
  25% {
    -webkit-transform: translateX(-50%) scale(0.9);
            transform: translateX(-50%) scale(0.9);
  }
  75% {
    -webkit-transform: translateX(-50%) scale(1.1);
            transform: translateX(-50%) scale(1.1);
  }
}

.content-title {
  margin: 50px 0 30px;
}

.v-tab {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin-bottom: 0;
  border: unset;
}

.tab-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
}

.tab-item .nav-link {
  font-family: 'AddingtonCF';
  font-style: italic;
  font-weight: normal;
  color: #000000;
  text-align: center;
  font-size: 28px;
  line-height: 1;
  padding: 15px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  border-radius: 0;
}

.tab-item .nav-link:hover {
  border: unset;
  border-color: unset;
}

.tab-item .nav-link.active {
  background-color: #d3a95c;
  border-color: unset;
  border: unset;
  color: #ffffff;
}

@media (max-width: 1400px) {
  .tab-item .nav-link {
    font-size: 24px;
  }
}

.tab-content .tab-content-title {
  background-color: #d3a95c;
  padding: 30px 0 15px;
  margin-bottom: 50px;
}

.v-tab-content {
  position: relative;
  overflow: hidden;
}

.tab1 .qoute {
  text-align: center;
  font-family: 'AddingtonCF';
  font-style: normal;
  font-weight: 600;
  color: #d3a95c;
  margin-bottom: 70px;
  font-size: 45px;
  position: relative;
}

.tab1 .qoute span {
  color: #000000;
}

.tab1 .qoute::before {
  content: '';
  position: absolute;
  bottom: -40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 20%;
  height: 22px;
  background-image: url("../image/home/line.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

@media (max-width: 1400px) {
  .tab1 .qoute {
    font-size: 40px;
    line-height: 1.1;
  }
}

.tab1 p {
  font-family: 'Averta';
  font-style: italic;
  font-weight: normal;
  color: #000000;
  font-size: 18px;
  line-height: 1.3;
  margin-bottom: 50px;
  text-align: center;
}

@media (max-width: 1400px) {
  .tab1 p {
    font-size: 16px;
  }
}

.tab1 .slide-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

.tab1 .slide-group .group {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  max-width: 444px;
}

.tab1 .slide-group .group p {
  font-family: 'AddingtonCF';
  font-style: italic;
  font-weight: 600;
  text-align: center;
  line-height: 1.2;
  font-size: 24px;
  margin-bottom: 20px;
}

@media (max-width: 1400px) {
  .tab1 .slide-group .group p {
    font-size: 22px;
  }
}

.tab1 .slide-group .group .swiper-slide img {
  width: 100%;
  height: auto;
}

.tab2 .cam-content-wrapper p {
  font-family: 'Averta';
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.3;
}

@media (max-width: 1400px) {
  .tab2 .cam-content-wrapper p {
    font-size: 16px;
  }
}

.tab2 .cam-content-wrapper .number-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.tab2 .cam-content-wrapper .number-group .number-item h4 {
  font-family: 'Romans-Rexamples';
  font-style: italic;
  font-weight: normal;
  color: #d3a95c;
  font-size: 85px;
  margin-bottom: 0;
}

@media (max-width: 1400px) {
  .tab2 .cam-content-wrapper .number-group .number-item h4 {
    font-size: 80px;
  }
}

.tab2 .case-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #0c0c0c;
  margin: 50px 0;
}

.tab2 #case-img,
.tab2 #case-text {
  height: 100vh;
}

.tab2 .case-img-slider-wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
  max-width: 45%;
}

.tab2 .case-img-slider-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

.tab2 .case-text-slider-wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 55%;
          flex: 0 0 55%;
  max-width: 55%;
}

.tab2 .case-text-slider-wrapper .case-text-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.tab2 .case-text-slider-wrapper .case-text-content .case-text-inner {
  width: 70%;
  max-width: 550px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto 15%;
}

@media (max-width: 1400px) {
  .tab2 .case-text-slider-wrapper .case-text-content .case-text-inner {
    margin: auto 10%;
  }
}

.tab2 .case-text-slider-wrapper .case-text-content .case-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.tab2 .case-text-slider-wrapper .case-text-content .case-header-title h4 {
  font-family: 'AddingtonCF';
  font-style: italic;
  font-weight: 600;
  color: #ffffff;
  font-size: 35px;
  line-height: 1.1;
  text-align: right;
}

.tab2 .case-text-slider-wrapper .case-text-content .case-header-title h4 span {
  display: block;
  color: #d3a95c;
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
}

@media (max-width: 1600px) {
  .tab2 .case-text-slider-wrapper .case-text-content .case-header-title h4 span {
    font-size: 40px;
  }
}

@media (max-width: 1600px) {
  .tab2 .case-text-slider-wrapper .case-text-content .case-header-title h4 {
    font-size: 30px;
  }
}

.tab2 .case-text-slider-wrapper .case-text-content .case-body {
  margin-bottom: 30px;
}

.tab2 .case-text-slider-wrapper .case-text-content .case-body p {
  color: #ffffff;
  font-family: 'Averta';
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.3;
  text-align: justify;
  margin-bottom: 20px;
}

@media (max-width: 1600px) {
  .tab2 .case-text-slider-wrapper .case-text-content .case-body p {
    font-size: 16px;
  }
}

@media (max-width: 1400px) {
  .tab2 .case-text-slider-wrapper .case-text-content .case-body p {
    font-size: 14px;
  }
}

.tab2 .case-text-slider-wrapper .case-text-content .case-body h5 {
  font-family: 'AddingtonCF';
  font-style: italic;
  font-weight: 600;
  color: #d3a95c;
  font-size: 28px;
  line-height: 1;
  margin-bottom: 5px;
  text-align: left;
}

.tab2 .case-text-slider-wrapper .case-text-content .case-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tab2 .case-text-slider-wrapper .case-text-content .case-number-item {
  margin-bottom: 20px;
}

.tab2 .case-text-slider-wrapper .case-text-content .case-number-item h5 {
  font-family: 'Romans-Rexamples';
  font-style: italic;
  font-weight: normal;
  color: #d3a95c;
  font-size: 45px;
  line-height: 1;
  margin-bottom: 0;
}

.tab2 .case-text-slider-wrapper .case-text-content .case-number-item p {
  font-family: 'Averta';
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 0;
}

@media (max-width: 1600px) {
  .tab2 .case-text-slider-wrapper .case-text-content .case-number-item p {
    font-size: 16px;
  }
}

.tab2 .case-text-slider-wrapper .swiper-button-next {
  right: 10%;
}

.tab2 .case-text-slider-wrapper .swiper-button-next::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../image/home/arrow.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.tab2 .brand-slider {
  margin: 50px 0;
}

.tab3 .tab-content-title {
  margin-bottom: 0;
}

.tab3 .creative-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tab3 .creative-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  position: relative;
}

.tab3 .creative-item .creative-img img {
  width: 100%;
  height: auto;
}

.tab3 .creative-item .creative-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 80px 80px 0;
  opacity: 0;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.tab3 .creative-item .creative-overlay p {
  color: #ffffff;
  font-size: 22px;
  font-family: 'Averta';
  font-style: normal;
  font-weight: normal;
  line-height: 1.2;
  text-align: justify;
}

@media (max-width: 1600px) {
  .tab3 .creative-item .creative-overlay p {
    font-size: 18px;
  }
}

@media (max-width: 1400px) {
  .tab3 .creative-item .creative-overlay p {
    font-size: 15px;
  }
}

.tab3 .creative-item .creative-overlay h4 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #d3a95c;
  padding: 30px 0;
  color: #000000;
  font-family: 'AddingtonCF';
  font-style: italic;
  font-weight: 600;
  margin-bottom: 0;
  text-align: center;
  font-size: 40px;
}

@media (max-width: 1600px) {
  .tab3 .creative-item .creative-overlay h4 {
    font-size: 35px;
  }
}

@media (max-width: 1400px) {
  .tab3 .creative-item .creative-overlay h4 {
    font-size: 30px;
    padding: 25px 0;
  }
}

.tab3 .creative-item:hover .creative-overlay {
  opacity: 1;
}

.tab3 .creative-qoute {
  background-color: #d3a95c;
  padding: 40px 0;
}

.tab3 .creative-qoute p {
  position: relative;
  z-index: 2;
  font-family: 'Averta';
  font-style: italic;
  font-weight: normal;
  color: #000000;
  font-size: 18px;
  line-height: 1.3;
  margin-bottom: 0;
}

@media (max-width: 1400px) {
  .tab3 .creative-qoute p {
    font-size: 16px;
  }
}

.tab4 .tab-content-header p {
  font-family: 'Averta';
  font-style: italic;
  font-weight: normal;
  color: #000000;
  font-size: 20px;
  line-height: 1.3;
  margin-bottom: 30px;
}

@media (max-width: 1400px) {
  .tab4 .tab-content-header p {
    font-size: 16px;
  }
}

.tab4 .tab-content-header .sep {
  width: 200px;
  height: 22px;
  background-image: url("../image/home/line.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  margin: auto;
}

.tab4 .tab-content-header h4 {
  margin: 30px 0 50px;
  color: #d3a95c;
  font-size: 45px;
  font-family: 'AddingtonCF';
  font-style: normal;
  font-weight: 600;
  line-height: 1.1;
}

.tab4 .tab-content-header h4 span {
  color: #000000;
}

@media (max-width: 1400px) {
  .tab4 .tab-content-header h4 {
    font-size: 40px;
  }
}

.tab4 .system-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 50px;
}

.tab4 .system-group .system-group-item {
  width: 25%;
  padding: 0 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.tab4 .system-group .system-group-item .system-img {
  max-width: 100%;
  position: relative;
  margin-bottom: 35px;
}

.tab4 .system-group .system-group-item .system-img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 5px solid #dddbe1;
  border-radius: 10px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.tab4 .system-group .system-group-item .system-img img {
  width: 100%;
  height: auto;
}

.tab4 .system-group .system-group-item .system-content .system-title {
  font-size: 35px;
  color: #000000;
  font-family: 'AddingtonCF';
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  padding-left: 15px;
  margin-bottom: 30px;
}

.tab4 .system-group .system-group-item .system-content .system-title span {
  font-family: 'Romans-Rexamples';
  font-style: normal;
  font-weight: normal;
  color: #d3a95c;
  display: block;
  font-size: 30px;
  margin-left: -15px;
}

.tab4 .system-group .system-group-item .system-content p {
  font-family: 'Averta';
  font-style: italic;
  font-weight: normal;
  font-size: 17px;
  line-height: 1.4;
  text-align: justify;
  color: #000000;
}

@media (max-width: 1400px) {
  .tab4 .system-group .system-group-item .system-content p {
    font-size: 16px;
  }
}

.tab4 .system-group .system-group-item:nth-child(3) .system-content .system-title {
  padding-left: 50px;
}

.tab4 .system-group .system-group-item:nth-child(3) .system-content .system-title span {
  margin-left: -50px;
}

.tab4 .system-group .system-group-item:hover .system-img::before {
  border: 5px solid #d3a95c;
  -webkit-box-shadow: 5px 4px 7px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 4px 7px 5px rgba(0, 0, 0, 0.2);
}

.banner-overlay {
  position: absolute;
  left: 30% !important;
  top: 15% !important;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 30%;
}

.tab5 .qoute {
  text-align: center;
  font-family: 'AddingtonCF';
  font-style: normal;
  font-weight: 600;
  color: #d3a95c;
  margin-bottom: 70px;
  font-size: 45px;
  line-height: 1;
  position: relative;
}

.tab5 .qoute span {
  color: #000000;
}

.tab5 .qoute::before {
  content: '';
  position: absolute;
  bottom: -40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 20%;
  height: 22px;
  background-image: url("../image/home/line.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

@media (max-width: 1400px) {
  .tab5 .qoute {
    font-size: 40px;
  }
}

.tab5 p {
  font-family: 'Averta';
  font-style: italic;
  font-weight: normal;
  color: #000000;
  font-size: 18px;
  line-height: 1.3;
  text-align: center;
}

@media (max-width: 1400px) {
  .tab5 p {
    font-size: 16px;
  }
}

.tab5 .social-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 40px 0;
}

.tab5 .social-group .social-gr-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.tab5 .social-group .social-gr-item h5 {
  font-family: 'Romans-Rexamples';
  font-style: italic;
  font-weight: normal;
  color: #d3a95c;
  font-size: 85px;
  line-height: 1;
  margin-bottom: 0;
}

@media (max-width: 1400px) {
  .tab5 .social-group .social-gr-item h5 {
    font-size: 80px;
  }
}

.tab5 .social-group .social-gr-item .social-name {
  font-family: 'AddingtonCF';
  font-style: italic;
  font-weight: 600;
  font-size: 26px;
  margin-bottom: 10px;
}

.tab5 .social-slider {
  margin-bottom: 50px;
}

.tab6 .tab-content-title {
  margin-bottom: 0;
}

.tab6 .gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.tab6 .gallery .gallery-col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
  position: relative;
}

.tab6 .gallery .gallery-col img {
  width: 100%;
  height: auto;
  display: block;
}

.tab6 .gallery .gallery-col:nth-child(2), .tab6 .gallery .gallery-col:nth-child(4) {
  margin-top: 15%;
}

.tab6 .gallery .gallery-col:nth-child(2)::before {
  content: "";
  position: absolute;
  top: -15%;
  left: 50%;
  width: 110%;
  height: 14%;
  background-image: url("../image/contest/top-cre-text.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
}

.tab7 .donghanh-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

.tab7 .donghanh-group .donghanh-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  max-width: 33.333%;
}

.tab7 .donghanh-group .donghanh-item .donghanh-logo {
  display: inline-block;
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  margin-bottom: 40px;
}

.tab7 .donghanh-group .donghanh-item .donghanh-logo img {
  position: relative;
  z-index: 2;
  max-width: 100%;
  display: block;
  height: auto;
}

@media (max-width: 1400px) {
  .tab7 .donghanh-group .donghanh-item .donghanh-logo img {
    max-width: 90%;
    margin: auto;
  }
}

.tab7 .donghanh-group .donghanh-item .donghanh-logo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 50%;
  z-index: 1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

@media (max-width: 1400px) {
  .tab7 .donghanh-group .donghanh-item .donghanh-logo::before {
    width: 90%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.tab7 .donghanh-group .donghanh-item h5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #d3a95c;
  font-family: 'Romans-Rexamples';
  font-style: italic;
  font-weight: normal;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 75px;
  line-height: 1;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.tab7 .donghanh-group .donghanh-item h5 span {
  display: block;
  font-family: 'AddingtonCF';
  font-style: italic;
  font-weight: 600;
  color: #000000;
  font-size: 22px;
  line-height: 1.1;
  margin-bottom: 5px;
  margin-left: 10px;
  text-align: left;
}

.tab7 .donghanh-group .donghanh-item .sep {
  width: 50%;
  height: 15px;
  background-image: url("../image/home/line.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  margin: 10px auto;
}

.tab7 .donghanh-group .donghanh-item p {
  font-family: 'Averta';
  font-style: italic;
  font-weight: normal;
  color: #000000;
  font-size: 18px;
  line-height: 1.3;
}

@media (max-width: 1400px) {
  .tab7 .donghanh-group .donghanh-item p {
    font-size: 16px;
  }
}

.tab7 .donghanh-group .donghanh-item:hover .donghanh-logo::before {
  -webkit-box-shadow: 5px 4px 7px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 4px 7px 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.tab8 .dangky-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

.tab8 .dangky-group .dangky-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35%;
          flex: 0 0 35%;
  max-width: 35%;
}

.tab8 .dangky-group .dangky-img img {
  width: 100%;
  height: auto;
  display: block;
}

.tab8 .dangky-group .dangky-form {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  max-width: 60%;
}

.tab8 .dangky-group .dangky-form .form-title h4 {
  font-family: 'AddingtonCF';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 1.1;
  margin-bottom: 40px;
  text-align: center;
}

.tab8 .dangky-group .dangky-form .form-body .form-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 40px;
}

.tab8 .dangky-group .dangky-form .form-body .form-flex .form-gr-left,
.tab8 .dangky-group .dangky-form .form-body .form-flex .form-gr-right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.tab8 .dangky-group .dangky-form .form-body .form-flex .form-group {
  margin: 10px 10px 20px;
}

.tab8 .dangky-group .dangky-form .form-body .form-flex .form-group input {
  font-family: 'Averta';
  color: #000000;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  height: 48px;
  padding: 10px;
}

.tab8 .dangky-group .dangky-form .form-body .form-flex .form-group input::-webkit-input-placeholder {
  color: #afafaf;
}

.tab8 .dangky-group .dangky-form .form-body .form-flex .form-group input:-ms-input-placeholder {
  color: #afafaf;
}

.tab8 .dangky-group .dangky-form .form-body .form-flex .form-group input::-ms-input-placeholder {
  color: #afafaf;
}

.tab8 .dangky-group .dangky-form .form-body .form-flex .form-group input::placeholder {
  color: #afafaf;
}

.tab8 .dangky-group .dangky-form .form-body .form-flex .form-group input:focus {
  outline: none;
  border: 1px solid #ced4da;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.tab8 .dangky-group .dangky-form .form-body .form-flex .form-group select {
  font-family: 'Averta';
  color: #000000;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  height: 48px;
  padding: 10px;
}

.tab8 .dangky-group .dangky-form .form-body .form-flex .form-group select:focus {
  outline: none;
  border: 1px solid #ced4da;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.tab8 .dangky-group .dangky-form .form-body .form-flex .form-group textarea {
  font-family: 'Averta';
  color: #000000;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  padding: 10px;
}

.tab8 .dangky-group .dangky-form .form-body .form-flex .form-group textarea:focus {
  outline: none;
  border: 1px solid #ced4da;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.tab8 .dangky-group .dangky-form .form-body .form-cta {
  background-color: #d3a95c;
  display: block;
  padding: 10px 35px;
  border-radius: 10px;
  margin: 0 auto;
  font-family: 'Averta';
  font-style: normal;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  border: none;
  text-transform: uppercase;
}

.tab8 .dangky-group .dangky-form .form-body .form-cta:hover {
  text-decoration: none;
}
/*# sourceMappingURL=index.css.map */