@font-face {
    font-family: 'AddingtonCF';
    src: url('./fonts/AddingtonCF-Bold.otf');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'AddingtonCF';
    src: url('./fonts/AddingtonCF-DemiBold.otf');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'AddingtonCF';
    src: url('./fonts/AddingtonCF-DemiBoldItalic.otf');
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: 'AddingtonCF';
    src: url('./fonts/AddingtonCF-RegularItalic.otf');
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: 'Averta';
    src: url('./fonts/Averta-Regular.otf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Averta';
    src: url('./fonts/Averta-Semibold.otf');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Romans-Rexamples';
    src: url('./fonts/Romans-Rexamples-Script.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Romans-Rexamples';
    src: url('./fonts/ROMANS-REXAMPLES-SERIF_ITALIC.ttf');
    font-style: italic;
    font-weight: normal;
}