@font-face {
    font-family: 'SVN-Gotham';
    src: url('./fonts/SVN-GothamBold.otf');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'SVN-Gotham';
    src: url('./fonts/SVN-GothamLight.otf');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway-Black.ttf');
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway-Regular.ttf');
    font-style: normal;
    font-weight: normal;
}